{% extends "base.html" %}
{% block content %}
<h1 class="text-center bg-success text-white py2">Home page</h1>

<div class="row">
    <div class="col-8 offset-2">
        <h1 class="bg-warning">logged user replied {{user.comment_set.count}} times</h1>
        {% for post in posts %}
        <a href="{% url 'detail' post.pk %}">
            <h3>title {{post.title}}</h3>
        </a>
        <p>{{post.description}}</p>
        comments- {{post.comment_set.count}}
        <br>
        latest post date {{post.get_latest_date}}
        <hr>
        {% endfor %}

    </div>


</div>
{% endblock content %}